<header class="_lazy-header-wrapper">
    <div class="_lazy-header-content">
        <button lazy-simplebar-toggle class="md:hidden btn-circle" lazy-icon="fa-duotone fa-bars-staggered"></button>
        <div class="_lazy-header-start">
            <button class="btn-circle" lazy-icon="fa-duotone fa-search"></button>
        </div>
        <div class="_lazy-header-end">
            <button class="btn-circle btn-scale" lazy-icon="fa-duotone fa-bell">
                <span class="btn-badge">1</span>
            </button>
            
            <button lazy-offcanvas-toggle="settings" class="btn-circle btn-scale" lazy-icon="fa-duotone fa-gear fa-spin" style="--fa-animation-duration: 15s;">
                <span class="btn-dot"></span>
            </button>

            <div lazy-dropdown-avatar class="relative" >
                <button lazy-dropdown-toggle class="_lazy-avatar">
                    <div class="_lazy-avatar-wrapper">
                        <img src="assets/img/avatar/1.jpg" alt="avatar">
                    </div>
                </button>
                <div lazy-dropdown-content class="_lazy-avatar-content" >
                    <div class="_lazy-avatar-header">
                        <div class="_lazy-avatar-name">Ilham Cahya</div>
                        <div class="_lazy-avatar-username">ilsya@lazycode.id</div>
                    </div>
                    <hr class="_lazy-border">
                    <div class="_lazy-list-group" role="none">
                        <a href="#" class="_lazy-list">Profile</a>
                        <a href="#" class="_lazy-list">Settings</a>
                        <a href="#" class="_lazy-list">Security</a>
                    </div>
                    <hr class="_lazy-border">
                    <div class="_lazy-list-group" role="none">
                        <a href="#" class="_lazy-list-logout">Logout</a>
                    </div>
                </div>        
            </div>
            
        </div>
    </div>
</header>