@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
        
@keyframes ripple-circle {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(30, 30);
        opacity: 0;
    }
}
        
.btn {
    @apply relative inline-flex justify-center items-center select-none min-w-16 py-2 px-3 rounded-lg text-white text-base font-medium hover:opacity-90 overflow-hidden;

    span {
        &.ripple {
            @apply absolute rounded-full bg-gray-400/30;
            transform: scale(0);
            animation: ripple 900ms ease;
        }
    }
}

.btn-circle {
    @apply relative inline-flex dark:text-gray-500 text-gray-600 hover:bg-gray-500/[0.08] p-2 appearance-none rounded-full select-none justify-center items-center;

    &.btn-xs {
        @apply p-1;
        i {
            @apply w-[1em] h-[1em] text-sm;
        }
    }

    &.btn-sm {
        @apply p-1;
        i {
            @apply w-[1.25em] h-[1.25em] text-base;
        }
    }
    
    &.btn-md {
        @apply p-1.5;
        i {
            @apply w-[1.25em] h-[1.25em] text-lg;
        }
    }

    &.btn-lg {
        @apply p-3;
        i {
            @apply w-[1.5em] h-[1.5em] text-lg;
        }
    }

    // ripple effect start
    .ripple-wrapper {
        @apply overflow-hidden h-full w-full absolute rounded-full;
    }

    &:focus {
        @apply outline-none;
        span {
            &.ripple-circle {
                animation: ripple-circle 900ms ease-out;
            }
        }
    }

    span {
        &.ripple-circle {
            @apply opacity-0 bg-gray-400/30 w-1 h-1 rounded-full absolute top-2/4 left-2/4;
        }
    }

    span {
        &.ripple {
            @apply absolute rounded-full bg-gray-400/30;
            transform: scale(0);
            animation: ripple 900ms ease;
        }
    }
            
    // ripple effect end

    i {
        @apply w-[1.25em] h-[1.25em] justify-center items-center text-xl flex;
    }
    
    .btn-badge {
        @apply absolute z-[1] flex p-1 text-xs h-5 min-w-5 bg-error-300 text-white rounded-full justify-center items-center right-0 top-0;
    }
    
    .btn-dot {
        @apply absolute z-[1] flex p-1 bg-error-300 text-white rounded-full justify-center items-center right-1 top-1 animate-pulse;
    }
    
    &.btn-scale {
        @apply active:scale-95 transition-transform;
    }
}