@layer components {
    
    // user-profile

    .profile-header-wrapper {
        @apply relative overflow-hidden rounded-xl md:h-72 md:max-h-72 h-64 max-h-64 text-white contrast mb-5;

        .profile-cover {
            @apply h-full w-full brightness-75;
            background: linear-gradient(rgba(var(--lazy-color-primary-400)/0.3), rgba(var(--lazy-color-primary-300)/0.5)) center center / cover no-repeat, url(../img/cover/1.webp);
            background-position: center;
            background-size: cover;
        }

        .profile-avatar {
            @apply absolute lg:bottom-10 lg:left-6 lg:right-0 top-1/2 left-1/2  lg:translate-x-0 lg:translate-y-0 -translate-y-[60%] -translate-x-1/2 m-auto flex lg:flex-row flex-col items-center gap-x-5 gap-y-2 z-10;
            
            img {
                @apply md:w-32 md:h-32 w-24 h-24 object-cover bg-main object-center rounded-full border-2 border-white;
            }

            .profile-info {
                @apply flex flex-col gap-x-2 gap-y-1;

                .profile-name {
                    @apply lg:text-3xl text-lg font-bold;
                }

                .profile-sub {
                    @apply text-sm font-normal;
                }
            }
        }

        .profile-footer {
            @apply absolute bottom-0 left-0 max-h-10 h-10 flex lg:justify-end justify-center items-center px-5 bg-white text-gray-700 dark:bg-gray-800 dark:text-white w-full;

            .actions {
                @apply relative flex items-center gap-x-5 text-sm;

                .list-item {
                    @apply font-medium flex items-center;

                    &.is-active {
                        @apply text-primary-300;
                    }

                    span {
                        @apply hidden lg:block;
                    }

                    i {
                        @apply mr-1;
                        text-align: center;
                        width: 1.25em; 
                        font-size: 1.25em;
                        line-height: .05em;
                        vertical-align: -.075em;
                    }
                }
            }
        }
    }

    // user-account

    
}