@layer base {
    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
        height: 3px;
    }
    
    ::-webkit-scrollbar-track {
        background: none;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-500/50;
        border-radius: 8px;
    }
        
    
    :is([theme-mode="dark"]) {
        ::-webkit-scrollbar-thumb {
            @apply bg-gray-800;
            border-radius: 8px;
        }
    }

    @keyframes BgGradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    @keyframes ripple {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    @keyframes ripple-circle {
        0% {
            transform: scale(0, 0);
            opacity: 1;
        }
        100% {
            transform: scale(30, 30);
            opacity: 0;
        }
    }
}

@layer components {
    // main layouts +

    ._lazy-root {
        @apply flex md:flex-row flex-col min-h-full;
    }

    ._lazy-main {
        @apply md:w-[calc(100%_-_280px)] w-full;

        ._lazy-container-sm {
            @apply mx-auto px-4 sm:px-6 md:px-10 max-w-7xl md:pb-20 pb-12;
        }

        ._lazy-container {
            @apply mx-auto px-4 sm:px-6 xl:px-16 md:px-10 max-w-full md:pb-20 pb-12;
        }
    }

    // main layouts -

    // utilities

    ._lazy-disable-scroll {
        @apply overflow-hidden;

        &.with-pr {
            @apply md:pr-[8px];
        }
    }

    :is([theme-contrast="default"]) {
        .contrast {
            @apply shadow-[rgba(145,158,171,0.2)_0px_0px_2px_0px,rgba(145,158,171,0.12)_0px_12px_24px_-4px];
        }
    }

    :is([theme-mode="dark"]) {
        .contrast, .contrast-sm {
            @apply shadow-none;
        }
    }

    .bg-main {
        @apply bg-white;
        @apply dark:bg-gray-900 #{!important};
    }
    
    :is([theme-contrast="bold"]) {
        .bg-main {
            @apply bg-gray-200;
        }
    }

    .animate-gradient {
        background-size: 400%;
        -webkit-animation: BgGradient 3s ease infinite;
        -moz-animation: BgGradient 3s ease infinite;
        animation: BgGradient 3s ease infinite;
    }

    .bg-gradient {
        backdrop-filter: blur(20px);
        background-image: url(../img/gradient/cyan-blur.webp), url(../img/gradient/red-blur.webp);
        background-repeat: no-repeat, no-repeat;
        background-position: right top, left bottom;
        background-size: 50%, 50%;
    }

    .bg-gradient-none {
        backdrop-filter: none;
        background-image: none;
    }

    .text-muted {
        @apply text-gray-500 dark:text-gray-600;
    }


    // input start
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-background-clip: text;
        -webkit-text-fill-color: unset;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px transparent;
    }

    :is([theme-mode="dark"]) {
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            -webkit-text-fill-color: #ffffff;
        }
    }

    .lazy-heading {
        @apply mb-10;

        .lazy-title {
            @apply mb-3 font-bold text-2xl text-gray-900 dark:text-white;
        }
        
        .lazy-breadcrumb {
            @apply flex flex-row items-center flex-wrap text-sm font-normal text-gray-900 dark:text-gray-100;
    
            .dot {
                @apply w-1 h-1 rounded-full bg-gray-500 mx-4
            }
    
            .active {
                @apply text-gray-600;
            }
        }
    }
    
}