{% extends "layouts/app.html" %}

{% set title = "UI Buttons" %}

{% block content %}
<div class="_lazy-container-sm">
    <div class="mb-5 font-bold text-2xl text-gray-900 dark:text-white"><span class="bg-gradient-to-r from-violet-500 to-blue-500 bg-clip-text text-transparent font-extrabold">UI Buttons</span></div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="flex flex-row flex-wrap gap-2 mb-4 items-center justify-between">
                <div class="font-semibold">Basic</div>
                <div class="flex flex-row flex-wrap gap-1">
                    <button type="button" lazy-ripple lazy-ui-button class="btn btn-sm"><i class="fa-duotone fa-code mr-2"></i>View</button>
                    <button type="button" lazy-ripple lazy-ui-copy data-clipboard-text="-" class="btn btn-sm"><i class="fa-duotone fa-copy mr-2"></i>Copy</button>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg hidden" lazy-ui-code>
                <pre><code class="language-html rounded-lg">&lt;button lazy-ripple class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-indigo&quot;&gt;Indigo&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-emerald&quot;&gt;Emerald&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-dark&quot;&gt;Dark&lt;/button&gt;</code></pre>
            </div>
    
            <div class="w-full overflow-hidden" lazy-ui-preview>
                <div class="flex flex-wrap gap-2">
                    <button lazy-ripple class="btn btn-primary">Primary</button>
                    <button lazy-ripple class="btn btn-secondary">Secondary</button>
                    <button lazy-ripple class="btn btn-indigo">Indigo</button>
                    <button lazy-ripple class="btn btn-success">Success</button>
                    <button lazy-ripple class="btn btn-emerald">Emerald</button>
                    <button lazy-ripple class="btn btn-info">Info</button>
                    <button lazy-ripple class="btn btn-warning">Warning</button>
                    <button lazy-ripple class="btn btn-danger">Danger</button>
                    <button lazy-ripple class="btn btn-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="flex flex-row flex-wrap gap-2 mb-4 items-center justify-between">
                <div class="font-semibold">Rounded</div>
                <div class="flex flex-row flex-wrap gap-1">
                    <button type="button" lazy-ripple lazy-ui-button class="btn btn-sm"><i class="fa-duotone fa-code mr-2"></i>View</button>
                    <button type="button" lazy-ripple lazy-ui-copy data-clipboard-text="-" class="btn btn-sm"><i class="fa-duotone fa-copy mr-2"></i>Copy</button>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg hidden" lazy-ui-code>
                <pre><code class="language-html rounded-lg">&lt;button lazy-ripple class=&quot;btn btn-rounded btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-indigo&quot;&gt;Indigo&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-success&quot;&gt;Success&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-emerald&quot;&gt;Emerald&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-info&quot;&gt;Info&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-rounded btn-dark&quot;&gt;Dark&lt;/button&gt;</code></pre>
            </div>
    
            <div class="w-full overflow-hidden" lazy-ui-preview>
                <div class="flex flex-wrap gap-2">
                    <button lazy-ripple class="btn btn-rounded btn-primary">Primary</button>
                    <button lazy-ripple class="btn btn-rounded btn-indigo">Indigo</button>
                    <button lazy-ripple class="btn btn-rounded btn-success">Success</button>
                    <button lazy-ripple class="btn btn-rounded btn-emerald">Emerald</button>
                    <button lazy-ripple class="btn btn-rounded btn-info">Info</button>
                    <button lazy-ripple class="btn btn-rounded btn-warning">Warning</button>
                    <button lazy-ripple class="btn btn-rounded btn-danger">Danger</button>
                    <button lazy-ripple class="btn btn-rounded btn-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="flex flex-row flex-wrap gap-2 mb-4 items-center justify-between">
                <div class="font-semibold">Label</div>
                <div class="flex flex-row flex-wrap gap-1">
                    <button type="button" lazy-ripple lazy-ui-button class="btn btn-sm"><i class="fa-duotone fa-code mr-2"></i>View</button>
                    <button type="button" lazy-ripple lazy-ui-copy data-clipboard-text="-" class="btn btn-sm"><i class="fa-duotone fa-copy mr-2"></i>Copy</button>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg hidden" lazy-ui-code>
                <pre><code class="language-html rounded-lg">&lt;button lazy-ripple class=&quot;btn btn-label-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-indigo&quot;&gt;Indigo&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-success&quot;&gt;Success&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-emerald&quot;&gt;Emerald&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-info&quot;&gt;Info&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-dark&quot;&gt;Dark&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-light&quot;&gt;Light&lt;/button&gt;</code></pre>
            </div>
    
            <div class="w-full overflow-hidden" lazy-ui-preview>
                <div class="flex flex-wrap gap-2">
                    <button lazy-ripple class="btn btn-label-primary">Primary</button>
                    <button lazy-ripple class="btn btn-label-secondary">Secondary</button>
                    <button lazy-ripple class="btn btn-label-indigo">Indigo</button>
                    <button lazy-ripple class="btn btn-label-success">Success</button>
                    <button lazy-ripple class="btn btn-label-emerald">Emerald</button>
                    <button lazy-ripple class="btn btn-label-info">Info</button>
                    <button lazy-ripple class="btn btn-label-warning">Warning</button>
                    <button lazy-ripple class="btn btn-label-danger">Danger</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="flex flex-row flex-wrap gap-2 mb-4 items-center justify-between">
                <div class="font-semibold">Size</div>
                <div class="flex flex-row flex-wrap gap-1">
                    <button type="button" lazy-ripple lazy-ui-button class="btn btn-sm"><i class="fa-duotone fa-code mr-2"></i>View</button>
                    <button type="button" lazy-ripple lazy-ui-copy data-clipboard-text="-" class="btn btn-sm"><i class="fa-duotone fa-copy mr-2"></i>Copy</button>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg hidden" lazy-ui-code>
                <pre><code class="language-html rounded-lg">&lt;button class=&quot;btn btn-xl btn-label-primary&quot;&gt;Button xl&lt;/button&gt;
&lt;button class=&quot;btn btn-lg btn-emerald&quot;&gt;Button lg&lt;/button&gt;
&lt;button class=&quot;btn btn-emerald&quot;&gt;Button&lt;/button&gt;
&lt;button class=&quot;btn btn-sm btn-emerald&quot;&gt;Button sm&lt;/button&gt;
&lt;button class=&quot;btn btn-xs btn-emerald&quot;&gt;Button xs&lt;/button&gt;</code></pre>
            </div>
    
            <div class="w-full overflow-hidden" lazy-ui-preview>
                <div class="flex flex-wrap items-center gap-2">
                    <div>
                        <button class="btn btn-xl btn-label-danger">Button xl</button>
                    </div>
                    <div>
                        <button class="btn btn-lg btn-label-indigo">Button lg</button>
                    </div>
                    <div>
                        <button class="btn btn-label-info">Button</button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-label-emerald">Button sm</button>
                    </div>
                    <div>
                        <button class="btn btn-xs btn-label-info">Button xs</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="flex flex-row flex-wrap gap-2 mb-4 items-center justify-between">
                <div class="font-semibold">Other</div>
                <div class="flex flex-row flex-wrap gap-1">
                    <button type="button" lazy-ripple lazy-ui-button class="btn btn-sm"><i class="fa-duotone fa-code mr-2"></i>View</button>
                    <button type="button" lazy-ripple lazy-ui-copy data-clipboard-text="-" class="btn btn-sm"><i class="fa-duotone fa-copy mr-2"></i>Copy</button>
                </div>
            </div>
            <div class="w-full overflow-hidden rounded-lg hidden" lazy-ui-code>
                <pre><code class="language-html rounded-lg">&lt;button disabled lazy-ripple class=&quot;btn btn-info&quot;&gt;
    Disabled Buttons
&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn btn-label-emerald&quot;&gt;
    &lt;i class=&quot;fa-duotone fa-layer-group fa-fw mr-1&quot;&gt;&lt;/i&gt;
    With Icons
&lt;/button&gt;
&lt;button lazy-ripple class=&quot;btn !text-white !dark:text-white bg-violet-500&quot;&gt;
    Color Tailwind
&lt;/button&gt;</code></pre>
            </div>
    
            <div class="w-full overflow-hidden" lazy-ui-preview>
                <div class="flex flex-wrap items-center gap-2">
                    <button disabled lazy-ripple class="btn btn-info">
                        Disabled Buttons
                    </button>
                    <button lazy-ripple class="btn btn-label-emerald">
                        <i class="fa-duotone fa-layer-group fa-fw mr-1"></i>
                        With Icons
                    </button>
                    <button lazy-ripple class="btn !text-white !dark:text-white bg-violet-500">
                        Color Tailwind
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="_lazy-card mb-5" lazy-ui>
        <div class="_lazy-card-body">
            <div class="mb-3">
                <div class="font-semibold text-lg">Ripple Effect</div>
                <div class="text-sm">
                    <p>The ripple effect can be removed by removing the <span class="text-primary-300 dark:text-primary-200 font-semibold">lazy-ripple</span> attributes</p>
                </div>
            </div>

            <div class="mb-3">
                <div class="font-semibold text-lg">Icons</div>
                <div class="text-sm">
                    <p>The icons on the dashboards use the <a href="https://fontawesome.com/search?s=duotone&f=classic&o=r" target="_blank" referrerpolicy="no-referrer" class="text-primary-300 dark:text-primary-200 font-semibold">Font Awesome Pro</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}<!-- pages start: ui-cards -->
<link rel="stylesheet" href="assets/vendor/highlight/styles/github-dark.min.css">
<!-- pages end: ui-cards -->{% endblock %}

{% block scripts %}<!-- pages start: ui-buttons -->
<script src="assets/vendor/clipboard/clipboard.min.js"></script>
<script src="assets/vendor/highlight/highlight.min.js"></script>
<script src="assets/js/demo.js"></script>
<!-- pages end: ui-buttons -->{% endblock %}