{% extends "layouts/app.html" %}

{% set title = "User Profile" %}

{% block content %}
<div class="_lazy-container-sm">
    <div class="lazy-heading">
        <div class="lazy-title">Profile</div>
        <ul class="lazy-breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li class="dot"></li>
            <li><a href="#">User</a></li>
            <li class="dot"></li>
            <li class="active">Ilsya Velixs</li>
        </ul>
    </div>
    
</div>
{% endblock %}

{% block styles %}<!-- push to: header -->{% endblock %}

{% block scripts %}<!-- push to: scripts -->{% endblock %}