::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500/50;
    border-radius: 8px;
}
    

:is([theme-mode="dark"]) {
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-800;
        border-radius: 8px;
    }
}

@layer components {
    @keyframes AnimationName {
        0%, 100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    // main layouts +

    ._lazy-root {
        @apply flex md:flex-row flex-col min-h-full;
    }

    ._lazy-main {
        @apply md:w-[calc(100%_-_280px)] w-full;

        ._lazy-container-sm {
            @apply mx-auto px-4 sm:px-6 md:px-10 max-w-7xl md:pb-20 pb-12;
        }
    }


    // main layouts -

    ._lazy-disable-scroll {
        @apply overflow-hidden;

        &.with-pr {
            @apply md:pr-[8px];
        }
    }

    .background-animate {
        background-size: 400%;
        -webkit-animation: AnimationName 3s ease infinite;
        -moz-animation: AnimationName 3s ease infinite;
        animation: AnimationName 3s ease infinite;
    }

    .bg-gradient {
        backdrop-filter: blur(20px);
        background-image: url(../img/bg/cyan-blur.png), url(../img/bg/red-blur.png);
        background-repeat: no-repeat, no-repeat;
        background-position: right top, left bottom;
        background-size: 50%, 50%;
    }

    .bg-gradient-none {
        backdrop-filter: none;
        background-image: none;
    }
}