$colors-component: (
   'primary': theme('colors.primary.500'),
   'indigo': theme('colors.indigo.200'),
   'success': theme('colors.success.200'),
   'info': theme('colors.info.200'),
   'warning': theme('colors.warning.200'),
   'danger': theme('colors.danger.300'),
   'light': theme('colors.white'),
   'dark': theme('colors.gray.900'),
);

$colors-component-mix: (
   'primary': theme('colors.white'),
   'secondary': theme('colors.white'),
   'success': theme('colors.white'),
   'info': theme('colors.white'),
   'warning': theme('colors.white'),
   'danger': theme('colors.white'),
   'light': theme('colors.gray.900'),
   'dark': theme('colors.white'),
);

$color-preset: ('success', 'indigo', 'info', 'warning', 'danger');