<!DOCTYPE html>
<html lang="en" theme-mode="light" theme-color="success" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/fa.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" /> -->
    <title>{{ title }}</title>
    {% block styles %}{% endblock %}
</head>

<body class="bg-gray-200 dark:bg-gray-900">

    <div class="_lazy-root">
        @@include("./layouts/partials/sidebar.html")
        <main class="_lazy-main">
            @@include("./layouts/partials/header.html")
            {% block content %}{% endblock %}
        </main>
    </div>

    @@include("./layouts/partials/settings.html")

    <script src="assets/js/app.js"></script>
    <script defer src="assets/vendor/fontawesome/js/fapro.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>