<!DOCTYPE html>
<html lang="en" theme-mode="light" theme-color="success" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/fa.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" /> -->
    <title>@@title</title>
    <!-- stack: styles -->
</head>

<body class="bg-gray-200 dark:bg-gray-900">