<!-- items start -->
<div class="lazy-card rounded-xl">
    <div class="lazy-card-body">
        <div class="flex flex-row items-center gap-x-4">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover object-center" src="assets/img/avatar/@@avatar" alt="avatr">
            </div>
            <div class="flex justify-start flex-col gap-y-1 flex-1 overflow-hidden whitespace-nowrap min-w-0">
                <div>@@name</div>
                <div class="flex items-center text-xs text-muted">
                    <i class="fa-light fa-location-dot text-base/none mr-2"></i>
                    @@location
                </div>
            </div>
            @@button
        </div>
    </div>
</div>
<!-- items end -->